@{
    Layout = null;
}
@model FormValidation.Models.ArticleModel
<div class="add-comment">
    @Html.ValidationSummary()
    <form action="@Url.Action("Index", "Home")" method="post">
        @Html.ValidationMessageFor(m => m.NewComment.Comment)
        @Html.TextAreaFor(m => m.NewComment.Comment, new { placeholder = "Your comment", @class = "txt-area" })
        @Html.ValidationMessageFor(m => m.NewComment.Age)
        @Html.TextBoxFor(m => m.NewComment.Age)
        <div class="wrap-btn">
            <button class="btn-cancel">Cancel</button>
            <button class="btn-save">Save changes</button>
            <p>Lorem ipsum dolor sit amet, <a href="#">adipiscing</a></p>
        </div>
    </form>
</div>